@import url("https://fonts.googleapis.com/css2?family=Dhurjati&display=swap");

.navbar ul {
  display: flex;
  justify-content: end;
}

.navbar li {
  margin: 0 10px;
  list-style: none;
}

.navbar-link {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Dhurjati", sans-serif;
}

.navbar-link:hover {
  color: #00B9FF;
  cursor: pointer;
}
